body {
  background: peachpuff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
header{
  margin: 30px;
  height: 100%;
  border: 1px solid black;
}
section{
  margin: 30px;
  height: 120%;
}
.middleArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.middleArea div {
  flex: 0 0 calc(33.33% - 10px); /* Three elements per row */
  margin: 5px;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
}
.h{
  margin: 30px;
  height: 300%;
  border: 1px solid #000;
  width: 100%;
}
footer{
  width: 100%;
}

@media (min-width:600px){
  body{
    background: rgb(178, 178, 235);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}
