* {
  outline: 1px solid red;
}
body {
  background: papayawhip;
  
}
.container{
  
  /* flex-direction: column; */
  
}
.a {
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 10px;
}
.b {
  display: flex;
  height: 40vh;
  border: 1px solid;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.c,.d,.e {
  display: inline-block;
  height: 3em;
  margin: 10px;
  width: 3em;
  text-align: center;
}

.c{
  margin-left: 54px;
}

.f {
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 10px;
}